<% provide(:title, "Welcome")%>
<div class = "center hero-unit">
	<h1><%= yield(:title)%></h1>
	<p>Latest on Stocks and shares</p>
	
	<%= link_to "Sign up", "#", class: "btn btn-large btn-primary"%>
	
</div>

<%= link_to image_tag("rails.png", alt: "Stocks"), "#"%>

