<%provide(:title, "All users")%>

<div class = "center hero-unit">
	<ul class="users">
			<% @users.each do |user|%>
				<li>
					<%= image_tag("profile.jpg", size: "50x50")%>
					<%= link_to user.name, user%>
				</li>
			<%end%>
	</ul>
</div>